.github-info {
  height: 25rem;
  width: 20rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.494);
  padding: 2rem;
}

.personal-info {
  display: flex;
  margin-bottom: 3rem;
}

.avatar {
  width: 7rem;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.username {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.621);
}

.additional-info {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.621);
  margin: 0 0 0.5rem 0;
}

.followers,
.following,
.public-repos,
.starred-repos {
  cursor: pointer;
}

.error {
  display: none;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.621);
}

.loading-circle {
  animation: rotate 1.5s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.remove-default {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
